<%- include('./partials/header.ejs')%>
<%- include('./partials/fontAwesome.ejs')%>
    <main>
      <section class="hero">
        <div class="hero-container">
          <h1>Welcome to Expense Tracker</h1>
          <h2>We bring All your financial records at your finger tips</h2>
          <a href="/users/register" class="btn">Get Started</a>
        </div>
      </section>
    </main>
