<header>
    <h2 class="logo">Expense Tracker</h2>
    <nav>
        <ul>
            <li><a class="btn-1" href="/">Home</a></li>
            <li><a href="/users/login">Login</a></li>
            <li><a class="btn-2" href="/users/register">Sign up</a></li>
        </ul>
    </nav>
</header>