<header>
    <h2 class="logo">Expense Tracker</h2>
    <nav>
        <ul>
            <li><a class="btn-1" href="/">Home</a></li>
            <li><a class="btn-2" href="/dashboard/income/new">Add Income</a></li>
            <li><a class="btn-2" href="/dashboard/expense/new">Add Expense</a></li>
        </ul>
    </nav>
</header>